@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background: black;
  overflow: hidden;
  font-family: 'Press Start 2P', cursive;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  z-index: 0;
}

.center-text {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #00BFFF;
  font-size: 4.5vw;
  text-align: center;
  z-index: 10;
  user-select: none;
  text-shadow: 2px 2px #000;
}

@media (max-width: 600px) {
  .center-text {
    font-size: 7vw;
  }
}